/**
 * Colors
 */
$backgroundGrey: #fff
$standardGrey: #fff
$white: #fff
$text: black
$h-padding: 35px


.small-text
  font-size: 10px
  color: darken(white, 50%)

body
  margin: 0
  background: white
  -webkit-font-smoothing: antialiased
  font-family: Helvetica;
  p,
  h2,
  h3
    color: $text
    a,
    unsubscribe,
    webversion
      text-decoration: none
      &:hover
        text-decoration: underline


  .text-right
    text-align: right

  .text-center
    text-align: center

  .text-left
    text-align: left

  .h-padding
    padding-left: $h-padding
    padding-right: $h-padding


  h2
    font-size: 36px
    line-height: 1.2em
    margin: 0 0 22px

  h3
    font-size: 19px
    margin: 0 0 18px

  a
    color: black

  table, tr, td
    border-spacing: 0px !important

  table.container
    width: 100%
    background: white
    table.inner
      max-width: 600px
      table.content
        width: 100%
        &.white-bg
          background-color: $white

        p
          font-weight: 400
          font-size: 18px
          // Set the margins the same as font size for correct viewing in Outlook
          margin: 16px 0
          line-height: 1.9em
          &.webversion, &.unsubscribe
            font-size: 12px
            margin: 12px 0
            line-height: 19px
            margin: 3px 0

          &.small
            font-size: 10px
            color: darken(white, 50%)
        td
          /**
           * Outlook doesn't support margin-attributes, instead – if we need it – we
           * set a padding on the td-element. Also, remove the margin on the p-element
           * to function in non-Outlook clients.
           */
          &.padding
            padding-top: 16px
            p
              margin-top: 0


        .image-caption
          font-size: 13px
          // font-weight: bold
          color: black

      table.footer
        width: 100%
        &.white-bg
          background-color: $white

        p
          font-weight: 400
          font-size: 18px
          // Set the margins the same as font size for correct viewing in Outlook
          margin: 16px 0
          line-height: 1.9em
          &.webversion, &.unsubscribe
            font-size: 12px
            margin: 12px 0
            line-height: 19px
            margin: 3px 0

          &.small
            font-size: 10px
            color: darken(white, 50%)
        td
          /**
           * Outlook doesn't support margin-attributes, instead – if we need it – we
           * set a padding on the td-element. Also, remove the margin on the p-element
           * to function in non-Outlook clients.
           */
          &.padding
            padding-top: 16px
            p
              margin-top: 0

      table.header
        img
          width: 240px
          max-width: 240px

      table.footer
        img
          display: block
          margin: 0 auto
          padding-bottom: 30px




  a.cta-button
    border: none
    background: none
    font-size: 18px
    position: relative

    span
      padding-top: 10px
      display: block
      width: 30px
      border-bottom: 2px solid black
      margin: 0 auto




  .col

    .col-inner
      padding: $h-padding $h-padding 5px


    &.gmail-fix
      display: block
      width: 100%


