/**
 * Colors
 */
$backgroundGrey: darken(white, 5%)
$standardGrey: darken(white, 50%)
$white: #fff
$blue: #3498db
$green: #2ecc71
$text: black
$lightText: lighten(black, 50%)





body
  margin: 0
  background-color: $backgroundGrey
  -webkit-font-smoothing: antialiased
p,
h1,
h2,
h3
  color: $text
  font-family: 'Brown'
  text-align: center
  a,
  unsubscribe,
  webversion,
  preferences
    color: $standardGrey
    text-decoration: none
    cursor: pointer
    font-family: "Caslon #540 W01", Times
    font-size: 13px

    &:hover
      text-decoration: underline


  &.text-right
    text-align: right

  &.text-center
    text-align: center

  &.text-left
    text-align: left

a
  text-decoration: none
  font-family: 'Brown'
  color: black
  &:visited
    color: black
  &:active
    color: black

h1
  margin: 0
  font-size: 38px
  line-height: 38px
  text-align: center
  font-weight: 200
  margin: 12px 0

h2
  color: #3C3C3C
  font-size: 24px
  line-height: 24px
  margin: 12px 0


h3
  font-size: 19px
  margin: 0 0 18px


.container
  width: 100%
  background-color: $backgroundGrey
  .inner
    max-width: 640px
    background-color: white
    .content
      &.padding
        padding-left: 20px
        padding-right: 20px
      &.padding-top
        padding-top: 20px
      &.padding-bottom
        padding-bottom: 20px


a.more
  font-family: 'Brown'
  color: $lightText
  display: block
  text-decoration: none
  text-align: center
  margin: 4px 0
  font-size: 14px


p
  font-size: 14px
  margin: 14px 0
  line-height: 18px
  color: black
  margin: 0
  // font-family: "Caslon #540 W01", Times
  // display: inline
  text-align: center



.content
  img
    width: 100%



.spacer
  width: 100%



.header
  width: 100%
  // margin-bottom: -40px
  // position: relative
  // z-index: 10
  text-transform: uppercase


.seperator
  width: 100%
  td.border
    border-top: 1px solid #ccc
    text-align: center
  p
    margin: 0 auto
    background: white
    display: inline-block
    position: relative
    top: -5px
    padding: 0 13px
    font-family: "Caslon #540 W01", Times
    font-size: 18px
    color: black

.textright,
.textleft
  width: 100%
  overflow: hidden
  position: relative
  td
    width: 50%
  td.image
    line-height: 0
  td.text
    padding: 10px

.textleft
  td.text
    position: relative
    left: -50%
  td.image
    position: relative
    left: 50%


.threecolums
  width: 100%
  text-align: center
  padding: 10px
  table.item
    padding: 10px
    display: table-cell
    img
      display: block

.banner
  width: 100%
  &.wide
    width: 100%
    // display: none
  &.small
    // display: none
    width: 300px


.footer
  width: 100%
  a
    text-decoration: none
    margin: 0 10px

  .links
    font-size: 14px

  .street-address
    color: $standardGrey
    white-space: normal
    font-family: "Caslon #540 W01", Times
    font-size: 13px


  .social
    // width: 100%
    text-align: center
    img
      width: 14px
      height: 14px
      display: inline



.col
  img
    max-width: 200px

  .col-inner
    padding: 20px 20px 5px

  &.gmail-fix
    display: block
    width: 100%

.inline-block
  display: inline-block
@for $i from 1 to 200
  .w#{$i}0px
    width: #{$i}0px
    @extend .inline-block
  .h#{$i}0px
    height: #{$i}0px
    @extend .inline-block

// percentage
@for $i from 1 to 100
  .w#{$i}
    width: $i * 1%
